@charset "utf-8";

@use "./variables" as *;
@use "./function" as *;
@use "./media_query" as *;

// brのレスポンシブ対応ここから //

br:where(.lg, .md, .sm) {
    display: none;
}
    
br.lg {
    @include min(1150px) {
        display: block;
    }
}

br.md {
    @include between(481px, 1149px) {
        display: block;
    }
}

br.sm {
    @include max(sm) {
        display: block;
    }
}