@charset "utf-8";

@use './_font.scss' as *;

// グローバル変数宣言ここから //
/* 主なスマホ・タブレット・パソコンのブレイクポイント定義用の配列 */
$breakpoints: (
    "sm": 480px,
    "md": 767px,
    "lg": 1024px
);

/* サイト内デフォルトゴシック体の宣言 */
$fontGothic: 'Big Shoulders Display';
$fontStaTxt: 'Outfit';

/* カラーの宣言 */
$baseColor: #fff;
$mainColor: #151515;
$accentColor: #D5966C;

// グローバル変数宣言ここまで //
