@charset "UTF-8";
@use "../utility/_variables.scss" as var;

* {
	font-family: var.$fontGothic;
}
body {
	color: var.$baseColor;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.6em;
}
a {
	img {
		opacity: 1;
		transition: opacity 0.4s;
	}
	&:hover {
		img {
			opacity: 0.8;
		}
	}
	&.opacity {
		opacity: 1;
		transition: opacity 0.4s;
		&:hover {
			opacity: 0.8;
		}
	}
}
