@charset "UTF-8";

form {
  width: 85%;
  max-width: 500px;
  margin: 0 auto;
}
@media screen and (max-width: 500px) {
  form {
    width: 100%;
  }
}

.top_privacy {
  width: 100%;
  max-width: 100%;
  margin-right: 0;
  margin-left: 0;
  margin-top: 10px;
  margin-bottom: -10px;
}

form .naraberu2 .flx_box03 input.input-text,
form .naraberu2 .flx_box03 textarea {
  width: 55%;
  padding: 5px;
  min-height: 44px;
  border-radius: 5px;
  border: solid 1px #333;
  background-color: white;
}

form .panel_wapper .panel  {
  
}
form .naraberu2 .flx_box03 {
  margin-bottom: 16px;
}

.form_submit_btn input[type="submit"] {
  transition: all 0.3s ease;
  margin: 0;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  height: initial;
}

@media screen and (max-width: 1000px) {
  form .naraberu2 .flx_box03 {
    flex-direction: column;
  }
  form .naraberu2 .flx_box03 label {
    margin-top: 0;
    margin-bottom: 0;
  }
  form .naraberu2 .flx_box03 input.input-text,
  form .naraberu2 .flx_box03 textarea {
    width: 100%;
    padding: 10px;
    min-height: 52px;
  }

  form p.poop {
    margin-top: 20px;
  }
}
