@charset "UTF-8";

article main {
  padding-left: 16px;
  padding-right: 16px;
}

#contactThanks .section__ttl {
  font-size: 28px;
  text-align: center;
  margin-bottom: 20px;
}
#contactThanks .form__txt.ps-r {
  margin-bottom: 40px;
}

#contactThanks .input-button {
  display: grid;
  width: fit-content;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  width: 50%;
  height: initial;
  cursor: pointer;
  margin: 0 auto;
  background-color: #139efb;
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
}
