@charset "utf-8";

@use '../../utility/_index.scss' as *;

// footerここから //
@mixin icon($type: 'top', $className: 'facebook') {
    .icon.#{$className} {
        display: block;
        width: 100%;
        background: no-repeat center center / contain;
        transition: all 0.4s ease-in;
        @if $className == 'facebook' {
            max-width: 20px;
            height: 20px;
            @if $type == 'top' {
                background-image: svgFaceBook($strokeColor: 'none', $fillColor: encode(#fff));
            } @else if $type == 'map' {
                background-image: svgFaceBook($strokeColor: 'none', $fillColor: encode($mainColor));
            }
            &:hover {
                @if $type == 'top' {
                    background-image: svgFaceBook($strokeColor: 'none', $fillColor: encode($accentColor));
                } @else if $type == 'map' {
                    background-image: svgFaceBook($strokeColor: 'none', $fillColor: encode(#fff));
                }
            }
        } @else if $className == 'instagram' {
            max-width: 20px;
            height: 20px;
            @if $type == 'top' {
                background-image: svgInstagram($strokeColor: 'none', $fillColor: encode(#fff));
            } @else if $type == 'map' {
                background-image: svgInstagram($strokeColor: 'none', $fillColor: encode($mainColor));
            }
            &:hover {
                @if $type == 'top' {
                    background-image: svgInstagram($strokeColor: 'none', $fillColor: encode($accentColor));
                } @else if $type == 'map' {
                    background-image: svgInstagram($strokeColor: 'none', $fillColor: encode(#fff));
                }
            }
        } @else if $className == 'twitter' {
            max-width: 20px;
            height: 16.25px;
            @if $type == 'top' {
                background-image: svgTwitter($strokeColor: 'none', $fillColor: encode(#fff));
            } @else if $type == 'map' {
                background-image: svgTwitter($strokeColor: 'none', $fillColor: encode($mainColor));
            }
            &:hover {
                @if $type == 'top' {
                    background-image: svgTwitter($strokeColor: 'none', $fillColor: encode($accentColor));
                } @else if $type == 'map' {
                    background-image: svgTwitter($strokeColor: 'none', $fillColor: encode(#fff));
                }
            }
        }

    }
}
// footerここまで //