@charset "utf-8";

// このサイト上で一番スタンダードなボタンのデザインのベースここから //
@mixin sta_btn($className: 'download' , $btnPadding: 21px 40px, $bgColor: #4D96A9, $versionTxtColor: #8FE3F9, $hoverColor: #71C0D4) {
    .btn.#{$className} {
        display: inline-block;
        font-weight: 900;
        padding: $btnPadding;
        background: $bgColor;
        border-radius: 50px;
        letter-spacing: 0.01em;
        transition: all 0.4s ease;
        color: #fff;
        &:hover {
            background: $hoverColor;
        }
        .version {
            margin: 0 0 0 1px;
            color: $versionTxtColor;
        }
    }
}
// このサイト上で一番スタンダードなボタンのデザインのベースここまで //  