@charset "utf-8";

@use '../../global/global_index' as *;

// スタンダードテキストここから //
@mixin sta_txt($size:18px, $txtAlign: center, $liHeight: 1.44em,$mBottom: 32px, $color: #87879D) {
    .content__txt {
        text-align: $txtAlign;
        font-size: $size;
        font-weight: 500; 
        line-height: $liHeight;
        color: $color;
        margin: 0 0 $mBottom;
        
    }
}
// スタンダードテキストここまで //