@charset "utf-8";

// 通常コンテンツサブタイトルここから //
@mixin sub_ttl($color: #4D96A9) {
    .sub__ttl {
        text-align: center;
        font-size: 16px;
        font-weight: 900;
        letter-spacing: 0.25em;
        line-height: 1.62em;
        margin: 0 0 16px;
        color: $color;
    }
}
// 通常コンテンツサブタイトルここまで //