@charset "utf-8";

@use '../../utility/_index.scss' as *;

// タイトルここから //
@mixin ttl($type: 'default',$color: #000) {
    .ttl { 
        font-family: $fontGothic;
        font-family: 'Big Shoulders Display', sans-serif;
        font-weight: 900;
        color: $color;
        @if $type == 'siteTtl' {
            font-size: 96px;
            line-height: 1.1em;
        } @else if $type == 'default' {
            font-size: 60px;
            line-height: 1em;
        }
        @content;
    }
}
// タイトルここまで //