@charset "utf-8";

@use '../../utility/_index.scss' as *;

// タイトルここから //
@mixin ttl($type: 'default', $color: #151515, $marginSpace: 0 0 34px, $size: 70px, $lineHeight: 1.1em) {
    .ttl { 
        font-family: $fontGothic;
        font-family: 'Big Shoulders Display', sans-serif;
        font-weight: 900;
        text-transform: uppercase;
        color: $color;
        @if $type == 'siteTtl' {
            font-size: 96px;
            line-height: 1.1em;
            @include max(1150px) {
                font-size: 70px;
                margin: 0 0 48px;
            }
            @include max(750px) {
                font-size: 60px;
                line-height: 0.9em;
                margin: 0 0 24px;
            }
        } @else if $type == 'default' {
            font-size: 60px;
            line-height: 1em;
            letter-spacing: 0.05em;
            margin: $marginSpace;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            @include max(1150px) {
                font-size: 50px;
                line-height: 0.9em;
                letter-spacing: 0em;
            }
            @include max(750px) {
                text-shadow: none;
            }
        } @else  {
            font-size: $size;
            line-height: $lineHeight;
            letter-spacing: 0.03em;
            margin: $marginSpace;
        }
    }
}
// タイトルここまで //