@charset "utf-8";

@use "../../global/global_index" as *;
@use "../atoms/atoms_index" as atom;

// ボタンが２つ格納されたコンポーネントここから //
@mixin fv_btns($maxWidth: 348px) {
    .btn__cover {
        width: 100%;
        max-width: $maxWidth;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        @include atom.sta_btn($className:'what__is',$btnPadding: 21px 29px, $hoverColor: #B18BDD, $bgColor: #855FB1);
        @include max(sm) {
            flex-direction: column;
            gap: 16px;
        }
    }
}
// ボタンが２つ格納されたコンポーネントここまで //
