@charset "utf-8";

@use '../../utility/_index.scss' as *;
@use '../atoms/_index.scss' as atom;
// テキストとボタンを囲う要素ここから //
@mixin txt_cover() {
    .txt__cover {
        width: 100%;
        max-width: 350px;
        @include atom.txt($mValue: 0 0 64px);
        @include atom.btn();
        @include max(md) {
            max-width: 339px;
            @include atom.txt($mValue: 0 0 48px);
        }
    }
   
}
// テキストとボタンを囲う要素ここまで //